'*':
  'cmd-alt-up':'window:focus-next-pane'
  'cmd-alt-down':'window:focus-previous-pane'
  'cmd-alt-backspace':'pane:close'
  'cmd-alt-+':'pane:split-right'
'.editor':
  'alt-cmd-5': 'editor:outdent-selected-rows'
  'cmd-l': 'go-to-line:toggle'
  'cmd-alt-l':'window:reload'
  'cmd-alt-n':'fancy-new-file:toggle'
  'cmd-alt-o':'tree-view:reveal-active-file'
  'cmd-alt-t':'tree-view:reveal-active-file'
