[user]
	name = Lukas Oppermann
	email = lukas@vea.re
[core]
	editor = atom
	excludesfile = ~/code/_environment/.gitignore_global

[alias]
    ci = commit
    st = status
    ck = checkout

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[credential]
	helper = osxkeychain
[push]
	default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
