// These colors are specific to the theme. Do not use in a package!

@very-light-brown: #d8d5cd;
@light-brown: #9a9a99;
@brown: #4b4b4a;
@very-dark-brown: #32302a;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
