'.source.php, .source.html, .text.html.blade, .source.blade.php':
  'echo':
    'prefix': 'e'
    'body': 'echo $1${0:;}'
  'print_r':
    'prefix': 'pr'
    'body': 'echo"<pre>";print_r($1);echo"<pre>";'
