/* ----------------------
		Body reset
*/
body{
	font-family: "Helvetica Neue", Helvetica, Sans-serif;
	font-size: 16px;
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
	padding: 0;
	margin: 0;
	width: 100%;
	text-rendering: optimizeLegibility;
}
/* ----------------------
		Reset elements to have border-box
*/
html { -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -moz-box-sizing: inherit; box-sizing: inherit; }
img { -moz-box-sizing: content-box; box-sizing: content-box; }
/* ----------------------
		Resets to undo default stylings
*/
div{
	position: relative;
}
ul{
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	vertical-align: top;
}
