# Set Editor to textmate
# export EDITOR="/usr/local/bin/mate -w"
export EDITOR="atom"

# Set Path for PHP
export PATH="$(brew --prefix)/bin:$PATH"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` out
export GREP_OPTIONS="--color=auto"
